* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#fff, #eaeaea);
}
.nav {
    background: linear-gradient(#1f1e1e, black);
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content0 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.get-button {
    background: linear-gradient(#1f1e1e, black);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 15px;
    padding: 10px 10px;
    border: none;
    margin: 5px;
    transition: all 200ms;
    cursor: pointer;
}

.get-button:hover {
    background: #fff;
    color: black;
}

img {
    width: 300px;
    height: 300px;
    margin: 10px;
}

p {
    margin: 2px;
}
